*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'PT Serif', serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #0A0C10;
}

img, svg {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: #EDF1F7;
}

.border {
  border: 1px solid red;
}

p {
  font-size: 14px;
  color: #959698;
  letter-spacing: 1px;
  line-height: 140%;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  overflow: none;
  height: 85vh;
  padding: 36px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1150px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    height: auto;
  }
}

.container .container-item-1 {
  max-width: 576px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .w-auto {
  width: auto;
}

.container .align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .container-item-2 img {
  max-height: 700px;
  width: auto;
  max-width: 100vw;
}

.the-knight {
  width: 140%;
  -webkit-transform: translate3d(-30px, 0, 0);
          transform: translate3d(-30px, 0, 0);
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

@media screen and (max-width: 1150px) {
  .the-knight {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 1150px) {
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.btn {
  display: inline-block;
  padding: 12px 32px;
  margin-right: 4px;
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#6771bf), to(#272a31));
  background: linear-gradient(180deg, #6771bf 0%, #272a31 100%);
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.btn:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.btn-secondary {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  position: relative;
  border: 2px solid #535DA9;
  background: transparent;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.btn-secondary::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#6771bf), to(#272a31));
  background: linear-gradient(180deg, #6771bf 0%, #272a31 100%);
  -webkit-transition: .6s ease;
  transition: .6s ease;
  z-index: -1;
}

.btn-secondary:hover {
  padding: 12px 36px;
  border: none;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.btn-secondary:hover::after {
  border-radius: 4px;
  width: 100%;
}

.item-3 svg {
  cursor: pointer;
}

.item-3 svg path {
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

.item-3 svg:hover path, .item-3 svg:hover circle {
  fill: #6771BF;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-video::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: linear-gradient(252.87deg, #0A0C10 33.58%, rgba(10, 12, 16, 0.55) 53.46%, #090A17 74.5%);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.bg-loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(225deg, #535DA9 0%, #313D99 100%);
  overflow: hidden;
}

header {
  width: 100%;
  padding-top: 16px;
}

.navbar {
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list li {
  margin-left: 24px;
}

@media screen and (max-width: 1150px) {
  .nav-list {
    display: none;
  }
}

.logo {
  max-width: 88px;
  max-width: 60px;
  cursor: pointer;
}

.nav-link {
  display: inline-block;
  padding: 8px 16px;
  color: #959698;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

.nav-link::after {
  content: "";
  display: block;
  position: absolute;
  top: -40px;
  left: 50%;
  width: 2px;
  height: 0px;
  -webkit-transition: .6s ease;
  transition: .6s ease;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(83, 93, 169, 0)), to(#535DA9));
  background: linear-gradient(180deg, rgba(83, 93, 169, 0) 0%, #535DA9 100%);
}

.nav-link:hover {
  color: #F4F7FB;
}

.nav-link:hover::after {
  height: 40px;
}

.bx {
  width: 48px;
  height: 8px;
  background-color: #EDF1F7;
  border-radius: 8px;
  position: relative;
  display: none;
}

.bx::before {
  content: "";
  width: 48px;
  height: 8px;
  margin-top: 4px;
  top: 16px;
  border-radius: 8px;
  background: #EDF1F7;
  position: absolute;
}

.bx::after {
  content: "";
  width: 48px;
  height: 8px;
  margin-top: 2px;
  top: 8px;
  border-radius: 8px;
  background: #EDF1F7;
  position: absolute;
}

@media screen and (max-width: 1150px) {
  .bx {
    display: block;
  }
}

.nav-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1150px) {
  .nav-social {
    display: none;
    height: auto;
  }
}

.nav-social svg {
  margin-left: 16px;
  width: 24px;
  cursor: pointer;
}

.nav-social svg path {
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

.nav-social svg:hover path, .nav-social svg:hover circle {
  fill: #6771BF;
}

.logo-hk {
  fill: transparent;
  -webkit-animation: logo-hk 12s ease infinite alternate;
          animation: logo-hk 12s ease infinite alternate;
}

@-webkit-keyframes logo-hk {
  0% {
    stroke-width: 0;
    fill: transparent;
  }
  30% {
    stroke-width: 1;
  }
  60%, 100% {
    stroke-width: 0.3;
    fill: #E5E9EF;
  }
}

@keyframes logo-hk {
  0% {
    stroke-width: 0;
    fill: transparent;
  }
  30% {
    stroke-width: 1;
  }
  60%, 100% {
    stroke-width: 0.3;
    fill: #E5E9EF;
  }
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 48px;
}

.m-4 {
  margin: 72px;
}

.m-5 {
  margin: 128px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 48px;
}

.mt-4 {
  margin-top: 72px;
}

.mt-5 {
  margin-top: 128px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 48px;
}

.ml-4 {
  margin-left: 72px;
}

.ml-5 {
  margin-left: 128px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 48px;
}

.mr-4 {
  margin-right: 72px;
}

.mr-5 {
  margin-right: 128px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 48px;
}

.mb-4 {
  margin-bottom: 72px;
}

.mb-5 {
  margin-bottom: 128px;
}

.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-3 {
  margin-left: 48px;
  margin-right: 48px;
}

.mx-4 {
  margin-left: 72px;
  margin-right: 72px;
}

.mx-5 {
  margin-left: 128px;
  margin-right: 128px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-3 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-4 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.my-5 {
  margin-top: 128px;
  margin-bottom: 128px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 48px;
}

.p-4 {
  padding: 72px;
}

.p-5 {
  padding: 128px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 48px;
}

.pt-4 {
  padding-top: 72px;
}

.pt-5 {
  padding-top: 128px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 48px;
}

.pl-4 {
  padding-left: 72px;
}

.pl-5 {
  padding-left: 128px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 48px;
}

.pr-4 {
  padding-right: 72px;
}

.pr-5 {
  padding-right: 128px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 48px;
}

.pb-4 {
  padding-bottom: 72px;
}

.pb-5 {
  padding-bottom: 128px;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-3 {
  padding-left: 48px;
  padding-right: 48px;
}

.px-4 {
  padding-left: 72px;
  padding-right: 72px;
}

.px-5 {
  padding-left: 128px;
  padding-right: 128px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-3 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-4 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-5 {
  padding-top: 128px;
  padding-bottom: 128px;
}
/*# sourceMappingURL=style.css.map */