*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'PT Serif', serif;
}

@mixin responsive(){
  // @media screen and (max-width: 960px){
  @media screen and (max-width: 1150px){
    @content;
  }
}

@import 'partials/colors';


body {
  width: 100%;
  height: 100vh;
  background-color: $blue-dark;
}

img, svg {
  display: block;
  width: 100%;
}

a{
  text-decoration: none;
  color: $white;
}

.border{
  border: 1px solid red;
}

p{
  font-size: 14px;
  color: $gray-3;
  letter-spacing: 1px;
  line-height: 140%;
}

@import 'partials/layout';
@import 'partials/menu';
@import 'partials/animations';
@import 'partials/spacing'