$blue: #14181F;
$blue-dark: #0A0C10;
$blue-light: #272A31;

$hollow: #535DA9;
$hollow-dark: #313D99;
$hollow-light: #6771BF;

$white: #EDF1F7;
$white-dark: #E5E9EF;
$white-light: #F4F7FB;

$gray-1: #B5B6B8;
$gray-2: #A1A3A5;
$gray-3: #959698;