.container {
  max-width: 1440px;
  margin: 0 auto;

  overflow: none;
  height: 85vh;

  padding: 36px 16px;

  display: flex;
  flex-direction: row;
  align-items: center;

  @include responsive(){
    flex-direction: column;
    overflow: hidden;
    height: auto;
  }

  .container-item-1 {
    max-width: 576px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .flex{
    display: flex;
  }

  .w-auto{
    width: auto;
  }
  .align-items-center{
    align-items: center;
  }
  
  .container-item-2 {
    img{
      max-height: 700px;
      width: auto;
      max-width: 100vw;
    }
  }
}

.the-knight {
  width: 140%;
  transform: translate3d(-30px, 0, 0);
  transform: rotate(5deg);

  @include responsive(){
    // width: 100%;
    transform: translate3d(0,0,0);
  }
}
.buttons{
  @include responsive(){
    display: flex;
  }
}
.btn {
  display: inline-block;
  padding: 12px 32px;
  margin-right: 4px;
  border-radius: 4px;

  background: linear-gradient(180deg, #6771bf 0%, #272a31 100%);

  text-transform: uppercase;
  font-weight: 700;

  transition: 0.6s ease;

  &:hover {
    transform: scale(1.02);
  }
}

.btn-secondary {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;

  position: relative;

  border: 2px solid $hollow;
  background: transparent;

  text-transform: uppercase;
  font-weight: 700;

  transition: 0.6s ease;

  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 0%;
    height: 100%;
    background: linear-gradient(180deg, #6771bf 0%, #272a31 100%);

    transition: .6s ease;
    z-index: -1;
  }
  &:hover {
    
    padding: 12px 36px;

    border: none;
    &::after{
      border-radius: 4px;
      width: 100%;
    } 
    transform: scale(1.02);
  }
}

.item-3{
  svg{
    cursor: pointer;
    path {
      transition: .6s ease;
    }

    &:hover{
      path, circle {
        fill: $hollow-light;
      }
    }
  }
}

.bg-video{
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: -2;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  &::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: linear-gradient(252.87deg, #0A0C10 33.58%, rgba(10, 12, 16, 0.55) 53.46%, #090A17 74.5%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}

.bg-loader{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(225deg, $hollow 0%, $hollow-dark 100%);

  overflow: hidden;
}